@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>iTunes Easy Lookup App</h3>
<ul>
    <li>Use this App to lookup your favourite music, albums, podcasts and other contents on iTunes.</li>
    <li>This application shows search results from iTunes and takes you directly to the preview page of your choice of content.</li>
    <li>This App keeps tracks of your clicks on contents and lets you check your number of clicks on each choice. Thus you can keep track of your favourites.</li>

</ul>

<h3>Future Scope</h3>
<ul>

    <li>The clicks from this app can be used for analytical purpose. The clicks can inform how many user's are visiting a particular content. A timestamped and geolocated entry of each click can also be stored to better analyse the trends and based on most recent clicks a user can be suggested with trending content in her country or city.</li>
    <li>The iTunes API can be used for providing autocomplete in the search box as well. The most frequently used keywords can be cached for better suggestions.</li>

</ul>
