@{
    ViewBag.Title = "Contact";
}




<address class="container-search">
    <strong>
        Mobile:&nbsp;<a><i class="fa fa-mobile fa-2x" aria-hidden="true"></i></a>
    </strong>
    &nbsp;+1 352.281.9920<br />
    <strong>Support:&nbsp;</strong><a href="mailto:rishabhrrk@gmail.com"><i class="fa fa-envelope fa-1x" aria-hidden="true"></i>&nbsp;RISHABHRRK@GMAIL.COM</a><br />

    <a href="https://linkedin.com/in/rishabhrrk/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/rishabhrrk/" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
</address>